body {
    background-color: #222;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin-top: 100px;
}

button {
    font-family: 'Press Start 2P', monospace;
    background-color: #EC8533;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin: 200px 50px 0 0;
}

button:hover {
    background-color: #ba5e12;
}

h1 {
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 128px;
    text-align: center;
    font-size: 70px;
}

.btn-Voltar {
    margin-top: 250px;
}

.btn-Iniciar {
    margin-top: 200px;
}

.btn-VoltarM {
    margin-top: 100px;
}

.tela-modo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  
    font-family: 'Press Start 2P', cursive;
    margin-top: 100px;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.botao-modo {
    font-family: 'Press Start 2P', monospace;;
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #EC8533;
    transition: 0.3s;
    color: white;
    margin-top: 0;
}

button:hover {
    background-color: #ba5e12;
}
